/*PAGINA CLICCAMI*/
.message {
    display: none; /* Nasconde il messaggio inizialmente */
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

/*PAGINA MATCH*/
.card-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
}
.profile-picture-container {
    width: 150px; /* Dimensione del contenitore */
    height: 150px; /* Dimensione del contenitore */
    border-radius: 50%; /* Rende il contenitore rotondo */
    overflow: hidden; /* Nasconde le parti dell'immagine che escono dal contenitore */
    border: 2px solid #ccc; /* Bordo del contenitore */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Per posizionare l'input file e l'icona */
}

.profile-picture {
    width: 100%; /* L'immagine riempie il contenitore */
    height: 100%; /* L'immagine riempie il contenitore */
    object-fit: cover; /* Mantiene le proporzioni dell'immagine */
    border-radius: 50%; /* Rende l'immagine rotonda */
    display: block; /* Assicura che l'immagine sia un blocco */
}

input[type="file"] {
    position: absolute; /* Posiziona l'input sopra l'immagine */
    width: 100%;
    height: 100%;
    opacity: 0; /* Rende invisibile l'input */
    cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
}

.add-icon {
    position: absolute; /* Posiziona l'icona sopra il cerchio */
    font-size: 50px; /* Dimensione del simbolo "+" */
    color: #ccc; /* Colore del simbolo "+" */
    top: 50%; /* Posiziona verticalmente al centro */
    left: 50%; /* Posiziona orizzontalmente al centro */
    transform: translate(-50%, -50%); /* Centra esattamente l'icona */
    pointer-events: none; /* Rende l'icona non cliccabile */
}